<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dou0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{62,121}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{62,121}}</string>
                <key>sourceSize</key>
                <string>{72,121}</string>
            </dict>
            <key>dou0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{62,121}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{62,121}}</string>
                <key>sourceSize</key>
                <string>{72,121}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shake.png</string>
            <key>size</key>
            <string>{130,125}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6049bec13f6ebfee85847c70bec46909:7abc84a90cf9241378ee607d33169863:59623becf57f3f38cc1ec174950288eb$</string>
            <key>textureFileName</key>
            <string>shake.png</string>
        </dict>
    </dict>
</plist>
