<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zou0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{72,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,121}}</string>
                <key>sourceSize</key>
                <string>{72,121}</string>
            </dict>
            <key>zou0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{60,121}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{60,121}}</string>
                <key>sourceSize</key>
                <string>{72,121}</string>
            </dict>
            <key>zou0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,2},{72,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,121}}</string>
                <key>sourceSize</key>
                <string>{72,121}</string>
            </dict>
            <key>zou0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{60,121}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{60,121}}</string>
                <key>sourceSize</key>
                <string>{72,121}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>walk.png</string>
            <key>size</key>
            <string>{212,125}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a907348406fcac03a80c312c2c4f5161:bd0064258d2722638c7b43df1f161740:ee5a53230c137d81fadb9a88e71d34b6$</string>
            <key>textureFileName</key>
            <string>walk.png</string>
        </dict>
    </dict>
</plist>
