<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yao0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{72,107}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{72,107}}</string>
                <key>sourceSize</key>
                <string>{72,121}</string>
            </dict>
            <key>yao0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{64,121}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{64,121}}</string>
                <key>sourceSize</key>
                <string>{72,121}</string>
            </dict>
            <key>yao0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{72,107}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{72,107}}</string>
                <key>sourceSize</key>
                <string>{72,121}</string>
            </dict>
            <key>yao0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{64,121}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{64,121}}</string>
                <key>sourceSize</key>
                <string>{72,121}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>yao.png</string>
            <key>size</key>
            <string>{216,125}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0d80498826723311b53fe88d8b88f16b:10f47a94b69e4f4b835c0f1dff209f98:17bc9995e95bf5b719f1c8335e699546$</string>
            <key>textureFileName</key>
            <string>yao.png</string>
        </dict>
    </dict>
</plist>
